//Sombra a las imagenes
.areaPrincial__imagenChica,
.areaPrincipal__imagenGrande,
.imagenEstatica,
.imagenAbout,
.imagenContact {
    box-shadow: 0 0 45px $dark-slate-blue;
}
//Ajustar bien el objet-fit.
.imagenEstatica {
    object-fit: unset;
}
//Activamos pagina abierta.
.activo {
    background-color: $china-pink;
    border-radius: 5px;
    box-shadow: 0 0 25px $china-pink;
}

